name: Lerna Push & Pull Request

on:
  push:
    branches-ignore:
      - main
  pull_request:

jobs:
  prepare_branch:
    name: Prepare branch
    runs-on: ubuntu-latest
    env:
      CI: 'true'
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install
      - name: Lint
        run: pnpm lint
      - name: build
        run: pnpm lerna:build
      - name: Run Node TAP tests
        run: pnpm test
